body{
    background-color: ghostwhite;
    padding: 0;
}
.pos{
    position: absolute;
    width: 1000px;
    height: 450px;
    padding: 20px;
    border-radius: 25px;
    display: inline-block;
    vertical-align: text-top;
}